@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------------------*/
textarea {
  resize: none;
}

a {
  color: black;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  height: 100%;
  background: #D7D6D2;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}

.container-content {
  padding: 0 0 0 123px;
}

.content {
  flex-grow: 1;
}

.title {
  font-size: 38px;
  font-weight: 700;
  line-height: 140%;
  max-width: 480px;
}

.subtitle {
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
}

.text {
  font-size: 18px;
  color: #000;
  opacity: 0.6999999881;
  line-height: 150%;
  max-width: 480px;
}

.button {
  padding: 12px 40px;
  border-radius: 21px;
  background: #000;
  color: white;
  font-size: 14px;
  font-weight: bold;
  line-height: 130%;
}
.button:hover {
  transition: 0.15s ease-in-out background;
  background: #b56130;
}

.colors__black {
  background: #232320;
}
.colors__white {
  background: #FCFCFC;
}
.colors__orange {
  background: #ED742D;
}
.colors__blue-grey {
  background: #7D96AE;
}
.colors__khaki {
  background: #71784E;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.header__body {
  background: #121212;
  padding: 16px;
  border-radius: 0px 0px 40px 40px;
}
.header__row {
  display: flex;
  justify-content: space-between;
  max-width: 1194px;
  margin: 0 auto;
}
.header__logo {
  height: 24px;
  align-self: center;
}
.header__button {
  background: #EF691B;
}

.footer__body {
  background: #121212;
  padding: 40px 16px;
  border-radius: 40px 40px 0px 0px;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  max-width: 1194px;
  margin: 0 auto;
}
.footer__logo img {
  max-height: 45px;
}
.footer__socials {
  align-self: center;
}
.footer__socials-row {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.hero__body {
  background: url(../img/hero.png) 100% 100% no-repeat;
  height: 750px;
  padding: 372px 0 0 0;
}
.hero__title {
  color: #FFF;
  font-size: 60px;
  margin: 0 0 20px 0;
}
.hero__text {
  color: #FFF;
  opacity: 1;
  font-size: 16px;
  margin: 0 0 40px 0;
}
.hero__buttons :first-child {
  margin: 0 8px 0 0;
}
.hero__buttons :last-child {
  transform: rotate(180deg);
  z-index: 1;
}
.hero__buttons-button {
  background: url(../img/icons/arrow.svg) 14.5px no-repeat, #FFFFFF;
  width: 42px;
  height: 42px;
  border-radius: 21px;
}

.buddy__body {
  padding: 120px 225px 120px 0;
}
.buddy__about-row {
  display: flex;
  justify-content: space-between;
  margin: 0 0 120px 0;
}
.buddy__text {
  font-size: 16px;
}

.features__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 9%;
       column-gap: 9%;
  row-gap: 60px;
}
.features__item {
  max-width: 480px;
  display: flex;
  gap: 30px;
}
.features__item-img {
  border-radius: 36px;
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.16);
  width: 72px;
  height: 72px;
}
.features__item-info {
  padding: 20px 0 0 0;
  border-top: 1px solid #87898a;
}
.features__item-title {
  font-size: 16px;
  font-weight: bold;
  opacity: 1;
  margin: 0 0 8px 0;
}
.features__item-text {
  font-size: 16px;
}

.togo__body {
  background: #EF691B;
  border-radius: 40px;
  color: #FFFFFF;
  padding: 60px 123px 60px 0;
}
.togo__about-row {
  display: flex;
  justify-content: space-between;
  margin: 0 0 60px 0;
}
.togo__about-title {
  max-width: 480px;
}
.togo__about-text {
  color: #FFFFFF;
  font-size: 16px;
  padding: 0 102px 0 0;
}
.togo__bottles-row {
  display: flex;
  justify-content: space-between;
}
.togo__bottles-item {
  max-width: 378px;
}
.togo__bottles-photo {
  margin: 0 0 20px 0;
  max-width: 378px;
  border-radius: 40px;
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.16);
}
.togo__bottles-subtitle {
  margin: 0 0 8px 0;
}
.togo__bottles-text {
  font-size: 16px;
  color: #FFFFFF;
}
.togo__bottles-text span {
  font-weight: bold;
}

.items__body {
  padding: 120px 0;
}
.items__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 120px;
}
.items__row > div:nth-child(3), .items__row > div:nth-child(4) {
  padding: 0 0 0 100px;
}
.items__item-photo img {
  max-width: 100%;
}
.items__item-title {
  margin: 0 0 20px 0;
}
.items__item-text {
  margin: 0 0 20px 0;
}
.items__item-parameters {
  margin: 0 0 20px 0;
}
.items__item-parameters li::before {
  content: "• ";
}
.items__item-color {
  display: flex;
  gap: 8px;
  margin: 0 0 40px 0;
}
.items__item-color label {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  cursor: pointer;
}
.items__item-color input {
  display: none;
}
.items__item-color input:checked + label {
  background: url(../img/icons/circle.svg) 5px 5px no-repeat;
}
.reviews__body {
  background: #EF691B;
  border-radius: 40px;
  padding: 65px 225px 65px 100px;
}
.reviews__title {
  color: #FFFFFF;
  margin: 0 0 20px 0;
}
.reviews__row {
  position: relative;
}
.reviews__row > :last-child {
  transform: rotate(180deg);
  z-index: 1;
}
.reviews__buttons-button {
  background: url(../img/icons/arrow.svg) 14.5px no-repeat, #FFFFFF;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  position: absolute;
  top: 117px;
}
.reviews__buttons-button:first-child {
  left: -87px;
}
.reviews__buttons-button:nth-child(3) {
  right: -87px;
}
.reviews__review-row {
  background: #D7D6D2;
  display: flex;
  border-radius: 40px;
}
.reviews__review-photo img {
  max-width: 276px;
}
.reviews__review-info {
  padding: 60px 30px 0 30px;
}
.reviews__review-text {
  max-width: none;
  margin: 0 0 20px 0;
}
.reviews__review-subtitle {
  color: #000000;
}

.subscribe__body {
  display: flex;
  padding: 120px 0;
}
.subscribe__title {
  font-size: 56px;
  margin: 0 0 20px 0;
  max-width: 720px;
  text-align: center;
}
.subscribe__block {
  margin: 0 auto;
}
.subscribe__email-row {
  display: flex;
  margin: 0 0 0 69px;
}
.subscribe__email-row input {
  width: 430px;
  border: 1px solid black;
  border-radius: 21px 0 0 21px;
  padding: 0 0 0 20px;
  font-size: 16px;
}
.subscribe__email-row input::-moz-placeholder {
  color: #000000;
}
.subscribe__email-row input::placeholder {
  color: #000000;
}
.subscribe__button {
  border-radius: 0 21px 21px 0;
}